.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Peyda;
	justify-content: center;
	border-radius: 10%;
	width: 200px;
	height: 200px;
	margin: 0 10px;
	background-color: #ccc;
	color: #000;
	text-decoration: none;
}

.box:hover {
	background-color: #555;
	color: #fff;
}

h2 {
	margin: 0;
	font-size: 1.5rem;
}

p {
	margin: 0;
	font-size: 1rem;
}